.metadata-editor {
	background: var(--color-white);
	overflow-y: auto;
	padding: 2rem;
}

.button-container > button:not(:last-child) {
	margin-right: 1rem;
}

fieldset select,
fieldset button {
	width: auto;
	margin-bottom: 1rem;
}

.form-control:disabled,
.btn:disabled {
	opacity: 0.5;
}
